# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, deploy, and more:

trigger:
  branches:
    include:
      - main
      - sandbox

pool:
  name: Azure Pipelines
  vmImage: "windows-latest"

workspace:
  clean: all

steps:
  - checkout: self

  - task: DockerInstaller@0
    displayName: Docker Installer
    inputs:
      dockerVersion: 17.09.0-ce
      releaseType: stable

  - task: PowerShell@2
    displayName: "Build AL application"
    inputs:
      targetType: filePath
      filePath: "CompileApp.ps1"
      workingDirectory: "$(Build.SourcesDirectory)"

  - task: PublishBuildArtifacts@1
    inputs:
      pathtoPublish: "$(Build.StagingDirectory)"
      artifactName: Artifacts
